<IfModule mod_rewrite.c>
    RewriteEngine On

    # هذا السطر الجديد يحل مشكلة مجلد اللغة
    RewriteRule ^lang/(.*)$ index.php [L]

    # القواعد الطبيعية لموقع لارافيل
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
