@import "tailwindcss";
@import "print.css";

@theme {
    /* Premium Blue */
    --color-primary: hsl(221 83% 53%);
    /* Pure Surface */
    --color-surface: hsl(0 0% 100%);
    /* Dark Navy Text */
    --color-text-main: hsl(222 47% 11%);

    /* Fonts */
    --font-sans: "Outfit", "Inter", ui-sans-serif, system-ui;
    --font-outfit: "Outfit", sans-serif;
    --font-inter: "Inter", sans-serif;
}

@layer base {
    .dark {
        --color-primary: hsl(217 91% 60%);
        --color-surface: hsl(222 47% 11%);
        --color-text-main: hsl(210 40% 98%);
    }
}

[x-cloak] {
    display: none !important;
}